body {
	background-color: transparent;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

#traceNavigationRow {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 20px;
}

#traceNavigationRow p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 2px 5px;
}

#traceNavigationRow button {
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 2px 0px 2px 5px;
	width: 20px;
    height: 20px;
}

.button {
	display: block;
	border: none;
	margin: 0 auto;
}

hr {
	height:1px;
}